.u-section-1 {
  background-image: url("images/version10.PNG");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 650px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 536px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 411px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 308px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 194px;
  }
}.u-section-2 {
  min-height: 318px;
}

.u-section-2 .u-sheet-1 {
  min-height: 655px;
}

.u-section-2 .u-layout-wrap-1 {
  pointer-events: auto;
  margin-top: 45px;
  margin-bottom: 45px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 565px;
  pointer-events: auto;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-2 .u-text-1 {
  font-weight: normal;
  margin: 135px auto 0;
}

.u-section-2 .u-text-2 {
  margin: 19px 0 0;
}

.u-section-2 .u-image-1 {
  min-height: 565px;
  pointer-events: auto;
  background-image: url("images/sunroof.PNG");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 60px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 89px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 466px;
  }

  .u-section-2 .u-image-1 {
    min-height: 466px;
  }
}

@media (max-width: 991px) {
  .u-section-2 {
    min-height: 66px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 357px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 61px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 11px;
  }

  .u-section-2 .u-image-1 {
    min-height: 357px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-layout-cell-1 {
    min-height: 271px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 55px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 28px;
  }

  .u-section-2 .u-image-1 {
    min-height: 536px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 561px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 33px;
    margin-bottom: 33px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 233px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 17px;
  }

  .u-section-2 .u-text-1 {
    font-weight: 700;
    margin-top: 17px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 26px;
  }

  .u-section-2 .u-image-1 {
    min-height: 257px;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 533px;
}

.u-section-3 .u-layout-wrap-1 {
  margin: 50px auto 50px 0;
}

.u-section-3 .u-image-1 {
  min-height: 443px;
  background-image: url("images/saad.jfif");
  background-position: 50% 50%;
  background-size: auto 120%;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-image-2 {
  min-height: 443px;
  background-image: url("images/me.jfif");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 443px;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-text-1 {
  font-weight: normal;
  margin: 51px auto 0;
}

.u-section-3 .u-text-2 {
  margin: 17px 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 455px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-1 {
    min-height: 365px;
  }

  .u-section-3 .u-image-2 {
    min-height: 365px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 377px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 370px;
  }

  .u-section-3 .u-image-1 {
    min-height: 280px;
  }

  .u-section-3 .u-image-2 {
    min-height: 280px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 452px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 0;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: 18px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 599px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 540px;
    margin: 123px 0 2px;
  }

  .u-section-3 .u-image-1 {
    min-height: 226px;
    background-size: 120%;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-2 {
    min-height: 226px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 232px;
  }

  .u-section-3 .u-container-layout-3 {
    padding: 0;
  }

  .u-section-3 .u-text-1 {
    margin-top: -307px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 305px;
    margin-left: 10px;
    margin-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 507px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 340px;
    margin-top: 80px;
    margin-bottom: 50px;
  }

  .u-section-3 .u-image-1 {
    min-height: 142px;
  }

  .u-section-3 .u-image-2 {
    min-height: 142px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 245px;
  }

  .u-section-3 .u-text-1 {
    font-weight: 700;
    margin-top: -198px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 187px;
    margin-left: 13px;
    margin-right: 13px;
  }
}