.u-section-1 {
  background-image: url("images/savingscalcbanner.PNG");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 588px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 500px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 343px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 234px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 207px;
}

.u-section-2 .u-text-1 {
  font-weight: 900;
  margin: 77px 324px 0 364px;
}

.u-section-2 .u-text-2 {
  font-weight: normal;
  width: 391px;
  margin: 10px auto 46px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 191px;
  }

  .u-section-2 .u-text-1 {
    width: 414px;
    margin-top: 69px;
    margin-left: 264px;
    margin-right: 224px;
  }

  .u-section-2 .u-text-2 {
    margin-bottom: 38px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-left: 154px;
    margin-right: 114px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 141px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 29px;
    margin-left: 64px;
    margin-right: 24px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 8px;
    margin-bottom: 28px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 160px;
  }

  .u-section-2 .u-text-1 {
    width: 264px;
    margin-top: 38px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin: 9px 0 38px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 431px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 490px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 439px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 478px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 483px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 481px;
}

.u-section-4 .u-layout-wrap-1 {
  background-image: none;
  margin-top: 59px;
  margin-bottom: 59px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 369px;
}

.u-section-4 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-4 .u-image-1 {
  width: 391px;
  height: 340px;
  margin: 0 auto;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 369px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-text-1 {
  font-weight: 800;
  margin: 89px 19px 0;
}

.u-section-4 .u-text-2 {
  font-weight: normal;
  width: 343px;
  margin: 12px auto 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 416px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 346px;
  }

  .u-section-4 .u-image-1 {
    width: 333px;
    height: 298px;
    margin-left: 12px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 278px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 430px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 318px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 18px;
    padding-right: 18px;
  }

  .u-section-4 .u-image-1 {
    width: 260px;
    height: 226px;
    margin-top: 46px;
    margin-left: auto;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: 32px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-top: 19px;
    margin-left: 12px;
    margin-right: 12px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 564px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 252px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 0;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 432px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 159px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 332px;
}

.u-section-5 .u-list-1 {
  width: 1124px;
  grid-template-rows: auto;
  background-image: none;
  margin: 28px auto;
}

.u-section-5 .u-repeater-1 {
  grid-template-columns: calc(25% - 9px) calc(25% - 9px) calc(25% - 9px) calc(25% - 9px);
  min-height: 276px;
  grid-gap: 12px 12px;
}

.u-section-5 .u-container-layout-1 {
  padding: 9px 2px;
}

.u-section-5 .u-icon-1 {
  height: 121px;
  width: 242px;
  background-image: none;
  margin: 32px auto 0;
}

.u-section-5 .u-text-1 {
  width: 206px;
  font-weight: 900;
  margin: 29px auto 0;
}

.u-section-5 .u-container-layout-2 {
  padding: 9px 2px;
}

.u-section-5 .u-icon-1 {
  height: 121px;
  width: 242px;
  background-image: none;
  margin: 32px auto 0;
}

.u-section-5 .u-text-2 {
  width: 206px;
  font-size: 1.25rem;
  font-weight: 900;
  margin: 29px auto 0;
}

.u-section-5 .u-container-layout-3 {
  padding: 9px 2px;
}

.u-section-5 .u-icon-1 {
  height: 121px;
  width: 242px;
  background-image: none;
  margin: 32px auto 0;
}

.u-section-5 .u-text-3 {
  width: 206px;
  font-size: 1.25rem;
  font-weight: 900;
  margin: 29px auto 0;
}

.u-section-5 .u-container-layout-4 {
  padding: 9px 2px;
}

.u-section-5 .u-icon-1 {
  height: 121px;
  width: 242px;
  background-image: none;
  margin: 32px auto 0;
}

.u-section-5 .u-text-4 {
  width: 206px;
  font-size: 1.25rem;
  font-weight: 900;
  margin: 29px auto 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 379px;
  }

  .u-section-5 .u-list-1 {
    margin-top: 60px;
    margin-bottom: 58px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px);
    min-height: 257px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-5 .u-text-2 {
    font-size: 1.5rem;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-5 .u-text-3 {
    font-size: 1.5rem;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-5 .u-text-4 {
    font-size: 1.5rem;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 756px;
  }

  .u-section-5 .u-list-1 {
    margin-top: 30px;
    margin-bottom: 30px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    min-height: 697px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-bottom: 0;
  }

  .u-section-5 .u-icon-1 {
    height: 136px;
  }

  .u-section-5 .u-text-1 {
    width: 204px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-bottom: 0;
  }

  .u-section-5 .u-icon-1 {
    height: 136px;
  }

  .u-section-5 .u-text-2 {
    width: 204px;
    font-size: 1.25rem;
  }

  .u-section-5 .u-container-layout-3 {
    padding-bottom: 0;
  }

  .u-section-5 .u-icon-1 {
    height: 136px;
  }

  .u-section-5 .u-text-3 {
    width: 204px;
    font-size: 1.25rem;
  }

  .u-section-5 .u-container-layout-4 {
    padding-bottom: 0;
  }

  .u-section-5 .u-icon-1 {
    height: 136px;
  }

  .u-section-5 .u-text-4 {
    width: 204px;
    font-size: 1.25rem;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 845px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 979px;
    grid-gap: 25px 25px;
  }

  .u-section-5 .u-icon-1 {
    height: 109px;
    width: 122px;
    margin-top: 6px;
  }

  .u-section-5 .u-text-1 {
    width: 254px;
    margin-top: 17px;
  }

  .u-section-5 .u-icon-1 {
    height: 109px;
    width: 122px;
    margin-top: 6px;
  }

  .u-section-5 .u-text-2 {
    width: 254px;
    margin-top: 17px;
  }

  .u-section-5 .u-icon-1 {
    height: 109px;
    width: 122px;
    margin-top: 6px;
  }

  .u-section-5 .u-text-3 {
    width: 254px;
    margin-top: 17px;
  }

  .u-section-5 .u-icon-1 {
    height: 109px;
    width: 122px;
    margin-top: 6px;
  }

  .u-section-5 .u-text-4 {
    width: 254px;
    margin-top: 17px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 715px;
  }

  .u-section-5 .u-repeater-1 {
    min-height: 840px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-bottom: 10px;
  }

  .u-section-5 .u-icon-1 {
    height: 121px;
    width: 102px;
    margin-top: 10px;
  }

  .u-section-5 .u-text-1 {
    width: 215px;
    margin-top: 1px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-bottom: 10px;
  }

  .u-section-5 .u-icon-1 {
    height: 121px;
    width: 102px;
    margin-top: 10px;
  }

  .u-section-5 .u-text-2 {
    width: 215px;
    margin-top: 1px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-bottom: 10px;
  }

  .u-section-5 .u-icon-1 {
    height: 121px;
    width: 102px;
    margin-top: 10px;
  }

  .u-section-5 .u-text-3 {
    width: 215px;
    margin-top: 1px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-bottom: 10px;
  }

  .u-section-5 .u-icon-1 {
    height: 121px;
    width: 102px;
    margin-top: 10px;
  }

  .u-section-5 .u-text-4 {
    width: 215px;
    margin-top: 1px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 198px;
}